<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>{{titulo}}</title>
        </head>
        <body>
            <form action="/calcular">
                <h1>Calculadora</h1>
                <br>
                <label for="">Digite o primeiro numero: </label> 
                <input type="text" name="n1" id="">
                <br><br>
                <label for="">Digite o segundo numero: </label>
                <input type="text" name="n2" id="">
                <br>
                <input type="submit" value="Calcular">
            </form>
        </body>
    </html>