<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/Style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultado</title>
</head>
<body>
    <h1>Resultado</h1>
    <table>
        <tr>
            <th>Operação </th>
            <th>Valor 1: </th>
            <th>Valor 2: </th>
            <th>Resultado</th>
        </tr>
        <tr>
            <td>Soma</td>
            <td>{{n1}}</td>
            <td>{{n2}}</td>
            <td>{{resultado['soma']}}</td>
        </tr>
        <tr>
            <td>Subtração</td>
            <td>{{n1}}</td>
            <td>{{n2}}</td>
            <td>{{resultado['subtracao']}}</td>
        </tr>
        <tr>
            <td>Multiplicação</td>
            <td>{{n1}}</td>
            <td>{{n2}}</td>
            <td>{{resultado['multiplicacao']}}</td>
        </tr>
        <tr>
            <td>Divisão inteira</td>
            <td>{{n1}}</td>
            <td>{{n2}}</td>
            <td>{{resultado['div_int']}}</td>
        </tr>
        <tr>
            <td>Divisão fracionada</td>
            <td>{{n1}}</td>
            <td>{{n2}}</td>
            <td>{{resultado['div_fra']}}</td>
        </tr>
        <tr>
            <td>Resto divisão</td>
            <td>{{n1}}</td>
            <td>{{n2}}</td>
            <td>{{resultado['resto']}}</td>
        </tr>
        <tr>
            <td>Raiz</td>
            <td>{{n1}}</td>
            <td>{{n2}}</td>
            <td>{{resultado['raiz']}}</td>
        </tr>
    </table>
    <br>
    <a href="/">Pagina inicial</a>
</body>
</html>